@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

html {
  font-size: 18px;
}

.tabbar {
  height: 50px;
}

.pb-120px {
  padding-bottom: 120px;
}

#tiendas-disponibles > span {
  padding-block: 0.25em;
  padding-inline: 0.5em;
  border-radius: 0.5em;
  background-color: rgb(107 114 128);
}
#main-content > section {
  /* @apply px-4 lg:px-16 w-full mt-1; */
  @apply w-full;
}
/* main > section + section {
  margin-top: 1em;
} */

.preguntas > .pregunta + .pregunta {
  margin-top: 1em;
}

#builder-section {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.65), 
    rgba(0, 0, 0, 0.45)
  ),url(/images/builder.webp);
  background-position-y: 15%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-size: cover;
}

/*

  LISTAS DEL BUILDER

*/
section.builder{
  counter-reset: builder-steps;
}
article.step{
  position: relative;
  counter-increment: builder-steps;
  margin-left: 2.5em;
}
article.step::before{
  content: counter(builder-steps);
  @apply w-[30px] h-[30px] rounded-full bg-white text-slate-700 font-bold grid place-content-center;
  position: absolute;
  left: -2.5em;
}
article.step.hide-step::before{
  display: none;
}

article.step + article.step{
  @apply my-6 sm:my-3
  /* margin-top: 2em; */
}

article.product.selected{
  @apply border border-4 border-blue-600;
}
/*

  BOTONES

*/

.btn-small,
.as-btn-small {
  @apply items-center px-2 py-1 rounded-full text-white bg-blue-600 hover:bg-blue-900;
}

.btn,
.as-btn {
  @apply flex justify-center items-center;
}

.btn.primary,
.as-btn.primary {
  @apply items-center px-2 sm:px-4 py-1 sm:py-2 rounded-md text-white bg-blue-600 hover:bg-blue-900;
}

.btn.primary-small,
.as-btn.primary-small {
  @apply items-center px-2 py-1 rounded-md text-white bg-blue-600 hover:bg-blue-900;
}

.btn.primary-extrasmall,
.as-btn.primary-extrasmall {
  @apply items-center px-1 rounded-md text-white bg-blue-600 hover:bg-blue-900;
}

.btn.secondary,
.as-btn.secondary {
  @apply px-4 py-2 rounded-md text-white bg-transparent border border-4 border-blue-600 hover:bg-blue-800 hover:border-blue-800;
}

.btn.secondary-small,
.as-btn.secondary-small {
  @apply px-2 py-1 rounded-md text-white bg-transparent border border-2 border-blue-600 hover:bg-blue-800 hover:border-blue-800;
}

.btn.secondary-extrasmall,
.as-btn.secondary-extrasmall {
  @apply px-1 rounded-md text-white bg-transparent border border-2 border-blue-600 hover:bg-blue-800 hover:border-blue-800;
}

.btn-blue-white{
  @apply w-full block whitespace-nowrap px-4 py-1 text-sm font-medium text-white bg-blue-600 border border-blue-600 rounded active:text-blue-500 hover:bg-white hover:text-blue-600 focus:outline-none focus:ring
}

.btn.error,
.as-btn.error {
  @apply px-4 py-2 rounded-md text-white bg-transparent border border-4 border-error hover:bg-error-dark hover:border-error-dark;
}


.btn.error-small,
.as-btn.error-small{
  @apply px-2 py-1 rounded-md text-white bg-transparent border border-2 border-error hover:bg-error-dark hover:border-error-dark;
}

.table-text-xs {
  @apply tracking-tighter text-xs font-medium font-sans text-neutral-300;
}

.table-text-xxs {
  @apply tracking-tighter text-xxs font-medium font-sans text-neutral-300;
}

.table-pagination {
  @apply -mb-4 font-sans text-sm text-neutral-300;
}

.sidebar-div {
  @apply text-left mx-2 my-1 text-neutral-300;
}

.stock-header-text{
  @apply text-neutral-300 font-medium font-sans text-sm;
}
.stock-text{
  @apply text-neutral-300 font-sans text-xs;
}


.input{
  @apply bg-zinc-800 text-white p-2 my-1 border rounded-md border-neutral-500 focus:outline-none focus:ring
}